<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="captureTimers" type="Capture.CaptureTimerSection, CaptureConsole" />
  </configSections>
  <captureTimers>
    <time at="500" />
    <time at="4000" />
    <time at="7000" />
    <time at="10000" />
    <time at="13000" />
  </captureTimers>

  <appSettings>
    <add key="inputFile" value="D:\Practice\screenshot\test\2\300x250\210909_Next-Previous_ideal_activity___Do_not_use_300x250"/>
    <add key="outputLocation" value="D:\Practice\screenshot\Capture\Screenshots"/>
    <add key="startDelay" value="0"/>
    <add key="captureWidth" value="300"/>
    <add key="captureHeight" value="250"/>
    <add key="agent" value="cef"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <probing privatePath="x86"/>
  </assemblyBinding>-->
</configuration>